@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3jsGyNPYZvgw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjsGyNPYZvgw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url(https://fonts.gstatic.com/s/ubuntucondensed/v10/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfq9PrNX0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body,
* {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  background: none;
  font-family: "Ubuntu Condensed", sans-serif;
}

.box input[type="text"],
.box input[type="password"] {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #5cb4ee;
}

.box input[type="submit"] {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background-color: rgba(46, 196, 114, 0.5);
}

.signup-button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 10px 60px 10px 60px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-decoration: none;
}

.signup-button:hover {
  padding: 20px 70px 20px 70px;
  background-color: rgba(46, 196, 114, 0.5);
}

.button {
  background: none;
  color: white;
  font-family: "Ubuntu Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  border: 2px solid #2ecc71;
  padding: 5px 10px;
  border-radius: 23px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.button:hover {
  background-color: rgba(46, 204, 113, 0.4);
  padding: 5px 30px;
}

.header {
  background-color: #2c3e50;
  padding: 20px;
  position: relative;
}

.header h1 {
  font-family: "Ubuntu Condensed", sans-serif;
  color: white;
  letter-spacing: 2px;
}

.header a {
  text-decoration: none;
  font-size: 1.5em;
  right: 2px;
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 15px;
  padding: px;
}

#signup-success {
  display: none;
}

#signout-btn {
  padding: 5px 15px 5px 15px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#banner-text {
  left: 10px;
}

#banner-text h1 {
  margin: 0;
  color: white;
  position: absolute;
  top: 20%;
  left: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  display: inline;
  text-decoration: underline;
}

.content {
  position: absolute;
  top: 78px;
  bottom: 0;
  width: 100%;
  background-color: #2980b9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 130px 1fr;
      grid-template-columns: 130px 1fr;
}

.content .sidebar {
  background-color: #34495e;
  text-align: center;
}

.content .sidebar a {
  position: absolute;
  font-size: 25px;
  color: white;
  text-decoration: none;
  border: 3px solid limegreen;
  border-radius: 30px;
  padding: 10px 40px;
  -webkit-transform: translate(-50%, 30px);
          transform: translate(-50%, 30px);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.content .sidebar a:hover {
  background-color: rgba(50, 205, 50, 0.4);
  padding: 10px 50px;
}

.content .container-list {
  background-color: #2f4e6d;
  overflow: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: 150px;
}

.content .container-list .container-item {
  margin: 5px 1px;
}

.content .container-list .container-item table {
  width: 100%;
  height: 100%;
  border-top: 2px dotted #27ae60;
  border-bottom: 2px dotted #27ae60;
  padding: 25px 0;
}

.content .container-list .container-item table tr td {
  padding: 30px;
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 20px;
  border-left: 2px solid #27ae60;
  border-right: 2px solid #27ae60;
  letter-spacing: 2px;
}

.content .container-list .container-item table tr td #delbutton {
  border: 2px solid #e74c3c;
}

.content .container-list .container-item table tr td #delbutton:hover {
  background-color: rgba(231, 76, 60, 0.4);
}

.content .container-list .container-item table tr #selector-cell {
  width: 200px;
}

.content .container-list .container-item table tr #selector-cell #job-selector {
  background-color: #34495e;
  border: none;
  padding: 3px;
  width: 75%;
  color: white;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.content .container-list .container-item table tr #selector-cell #job-selector:hover {
  background-color: #3e5872;
  padding: 10px;
}

.content .container-list .container-item table tr #selector-cell #job-selector option {
  color: white;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  -webkit-transition: initial;
  transition: initial;
}

@media (max-width: 1000px) {
  .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    position: static;
  }
  .content .sidebar {
    background-color: #34495e;
    height: 50px;
  }
  .content .sidebar a.button {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    padding: 9px 100px;
    -webkit-transition: initial;
    transition: initial;
  }
  .content .container-list {
    grid-auto-rows: auto;
  }
  .content .container-list .container-item table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .container-list .container-item table tr td {
    font-size: 12px;
    margin: 1px 15px;
    padding: 5px 20px;
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border: 1px solid #27ae60;
    border-right: 2px dotted #27ae60;
    border-left: 2px dotted #27ae60;
  }
  .content .container-list .container-item table tr td #delbutton {
    font-size: 15px;
  }
  .content .container-list .container-item table tr #selector-cell #job-selector {
    font-size: 15px;
    width: 100%;
  }
  .content .container-list .container-item table tr #selector-cell #job-selector option {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */